<div class="container">
    <div class="img1">
        <img src="/images/LogoPSCJ.png" alt="LogoChurch">
    </div>

    <div class="img2">
        <img src="/images/Logo_page-0001__1_-removebg-preview.png" alt="LogoEJC">
    </div>
</div>

<div class="container2">
    <h3>
        Olá, somos da Paroquia Sagrado Coração de Jesus, localizado no curado II.<br> 
        Estamos vendendo rifa, cujo o prêmio é muito massa, para custear alguns gastos que teremos! 
        Então já clica no botão abaixo e faz teu nome!
    </h3>
    <div class="buttons">
        <button onclick="Form()">Comprar</button>
        <button onclick="Show()">Ver Prêmios</button>
    </div>
    
</div>
<div class="details" id="popup">
    <div class="award">
        <div class="award1">
            <div class="NameAward"><b>1° Prêmio</b></div>
            <div class="ContetAward">R$500,00 no PIX</div>
        </div>
        <div class="award1">
            <div class="NameAward"><b>2° Prêmio</b></div>
            <div class="ContetAward">Book Externo com 10 fotos editadas</div>
        </div>
    </div>
    <button onclick="Close()" class="buttonClose">Fechar</button>
</div>
