
<div class="container">
    <div id="countdown"></div>

    <div id="sort">
        <table border="2" class="table">
            <tr>
            <th>
                Nome da Ganhadora
            </th>
            <th>
                Telefone
            </th>
            <th>
                Responsável
            </th>
        </tr>
        <tr>
            <td>
                {{Data.Name}}
            </td>
            <td>
                {{Data.Phone}}
            </td>
            <td>
                {{Data.From}}
            </td>
        </tr> 
        </table>
        

    </div>
</div>
<div onclick="GetWin()" class="button">SORTEAR</div>